extends base.jade

block head
  link(rel='canonical', href='/index.html')

block content
  - for (var i = 0; i < posts.length; i++)
    - var post = posts[i]
      section.post
        h2
          a(name=post.title, href=post.path) #{post.title}

        p.published Published on #{post.date} #{post.author ? `by ${post.author}` : ''}
        != post.summary

  if hasMore || nextPage > 1
    .older
      if nextPage > 2
        a(href='index-#{nextPage - 2}.html') Newer posts
      else if nextPage == 2
        a(href='index.html') Newer posts
      if nextPage > 1 && hasMore
        | &nbsp;|&nbsp;
      if hasMore
        a(href='index-#{nextPage}.html') Older posts
